@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin hoverEffect($property, $toValue) {
  transition: #{$property} 0.5s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageNamePosition {
  display: flex;
  align-items: center;
  font-family: 'Mont', sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}